$text-size-base: 16px;

$break-at-sm: 40rem;
$break-at-md: 60rem;
$break-at-lg: 75rem;

$gutter: 2rem;
$gutter--lg: 4rem;

$text-size: 1rem;
$text-size--sm: 0.8rem;
$text-size--lg: 1.375rem;

$color--black: #000;
$color--white: #fff;

$background-color: $color--white;
