.spinner {
  align-items: center;
  background: transparentize($background-color, 0.15);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &--opaque {
    background: $background-color;
  }

  &__twirler {
    height: 6rem;
    width: 6rem;
  }

  &__text {
    color: $color--black;
    margin-top: 1rem;
    text-align: center;
  }
}
